#report {
	display: none;
}

#newReport {
}

#btn1 {
	padding :10px;
	margin : 10px;
	background-color: red;
}
#btn2 {
	padding :10px;
	margin : 10px;
	background-color: orange;
}
#btn3 {
	padding :10px;
	margin : 10px;
	background-color: yellow;
}
#btn4 {
	padding :10px;
	margin : 10px;
	background-color: lightgreen;
}
#btn5 {
	padding :10px;
	margin : 10px;
	background-color: pink;
}
#showReport {
	padding :10px;
	margin : 10px;
	background-color: blue;
	color: white;
	font-size: 20px

}